
  BINANCE_API_KEY = "9KDS6GScVFrslnzvkIL6Tvb7zW14jN7q39G9OVtS1Lb1HI1TBKEbvYDdqHZ3inrz"
  BINANCE_API_SECRET = "U9DHCdcZm2loRXS6ZBIzzusmjwrKBgtpGdXb4Cf4IwSe7u9xKSXQa72lNcQ3LSn4"
  LOG_LEVEL = "info"
  MIN_CONFIDENCE = "60"
  MONGODB_DB = "Trading"
  MONGODB_URI = "mongodb+srv://vashie:35688653@trading.f8r1xba.mongodb.net/?appName=Trading"
  NODE_ENV = "production"
  PAPER_TRADING = "false"
  PORT = "8080"
  TRADE_AMOUNT_USDT = "22"
  TRADING_PAIR = "SOLUSDT"
  USE_MARKET_ORDERS = "true"